<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjlKvd_CeACrQZzyW8lymeU_zGFJfEsM4</string>
	<key>GCM_SENDER_ID</key>
	<string>375635201949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clicestudio.app</string>
	<key>PROJECT_ID</key>
	<string>clic-app-b18ed</string>
	<key>STORAGE_BUCKET</key>
	<string>clic-app-b18ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375635201949:ios:385c72f4ce15be59c52974</string>
</dict>
</plist>